#OCDBPATH: local:///cvmfs/alice-ocdb.cern.ch/calibration/data/2013/OCDB

OCDBPATH: raw://

EVENTSELECTION: ALL real

COMPACTGRAPHS: yes

DimuonTrigger: CMUL7-B-NOPF-MUON

PairSelection: pALLPAIRYPAIRPTIN0.0-8.0RABSMATCHLOWETA real

Centrality: V0A

FitType: func=PSIPSIPRIMECB2VWG:rebin=2:histoType=minv:alJPsi=1.05349:nlJPsi=3.28651:auJPsi=2.14782:nuJPsi=2.71848