
#OCDBPATH: local:///cvmfs/alice-ocdb.cern.ch/calibration/data/2013/OCDB
OCDBPATH: raw://

EVENTSELECTION: ALL sim
DimuonTrigger: ANY sim
Centrality: PP sim
PairSelection: pALLPAIRYPAIRPTIN0.0-12.0RABSETAPDCA sim

COMPACTGRAPHS: yes

FitType: func=PSICOUNT:histoType=minv:range=0.0;12.0 sim
#FitType: func=PSICB2:histoType=minv:range=0.0;12.0 sim
