
#OCDBPATH: local:///cvmfs/alice-ocdb.cern.ch/calibration/data/2013/OCDB
OCDBPATH: raw://

EVENTSELECTION: ALL sim

COMPACTGRAPHS: yes

DimuonTrigger: ANY sim

#MuonTrigger: CMSL7-B-NOPF-MUON

#MinbiasTrigger: CINT7-B-NOPF-ALLNOTRD

PairSelection: pALLPAIRYPAIRPTIN0.0-8.0RABSMATCHLOWETAPDCA sim

Centrality: V0A sim

FitType: func=PSICB2:rebin=0:histoType=minv:range=2.0;5 sim
