
#OCDBPATH: local:///cvmfs/alice-ocdb.cern.ch/calibration/data/2013/OCDB
OCDBPATH: raw://

EVENTSELECTION: PSALL real
EVENTSELECTION: ALL sim

COMPACTGRAPHS: yes

DimuonTrigger: CMUL7-B-NOPF-MUFAST real
DimuonTrigger: ANY sim

#MuonTrigger: CMSL7-B-NOPF-MUON
#MinbiasTrigger: CINT7-B-NOPF-ALLNOTRD

PairSelection: sALLMATCHLOWRABSETAPDCA real sim
PairSelection: sALLRABSETAPDCA real sim

Centrality: PP sim

