
#OCDBPATH: local:///cvmfs/alice-ocdb.cern.ch/calibration/data/2013/OCDB
OCDBPATH: raw://

EVENTSELECTION: PSALL real

COMPACTGRAPHS: yes

DimuonTrigger: CMUL7-B-NOPF-MUFAST

MuonTrigger: CMSL7-B-NOPF-MUFAST

MinbiasTrigger: CINT7-B-NOPF-MUFAST

PairSelection: pALLPAIRYPAIRPTIN0.0-10.0RABSMATCHLOWETAPDCA real


#Centrality: V0M_00.00_10.00
#Centrality: V0M_10.00_30.00
#Centrality: V0M_30.00_50.00
#Centrality: V0M_50.00_70.00
#Centrality: V0M_70.00_90.00


FitType: func=PSIPSIPRIMECB2VWG:rebin=2:histoType=minv:alJPsi=1.05349:nlJPsi=3.28651:auJPsi=2.14782:nuJPsi=2.71848
