
#OCDBPATH: local:///cvmfs/alice-ocdb.cern.ch/calibration/data/2013/OCDB
OCDBPATH: raw://

EVENTSELECTION: VDM real

COMPACTGRAPHS: yes

DimuonTrigger: CMUL7-B-NOPF-MUFAST

MuonTrigger: CMSL7-B-NOPF-MUFAST

MinbiasTrigger: CINT7-B-NOPF-MUFAST
#MinbiasTrigger: CINT7-B-NOPF-MUFAST&0TVX

Centrality: PP real sim
