# To be used with Data_Full/saf/AnalysisResults.root

#OCDBPATH: local:///cvmfs/alice-ocdb.cern.ch/calibration/data/2013/OCDB
OCDBPATH: raw://
COMPACTGRAPHS: yes

# --- Event selection ---
EVENTSELECTION: PSMUL real

# --- Trigger selection ---
DimuonTrigger: CMUL7-B-NOPF-MUFAST real

# --- MC EMBEDDING ---
#EVENTSELECTION: PSINT7 sim
#DimuonTrigger: CINT7-B-NOPF-MUFAST sim

# --- centrality bin ---
Centrality: V0MPLUS05_00.00_20.00 real sim
Centrality: V0MPLUS05_20.00_40.00 real sim
Centrality: V0MPLUS05_40.00_90.00 real sim

Centrality: V0MMINUS05_00.00_20.00 real sim
Centrality: V0MMINUS05_20.00_40.00 real sim
Centrality: V0MMINUS05_40.00_90.00 real sim

# --- pair cut selection ---
PairSelection: pALLPAIRYPAIRPTIN0.0-12.0RABSMATCHLOWETA real sim

# --- Fit method ---

# Standard fit functions

# --- EMBEDDING ---
#FitType: func=PSIPSIPRIMECB2VWG2:range=2.2;4.5:histoType=minv:mctails
#FitType: func=PSIPSIPRIMECB2VWG2:range=2.5;4.7:histoType=minv:mctails
# --- MCMOHAMAD ---
#FitType: func=PSIPSIPRIMECB2VWG2:range=2.2;4.5:histoType=minv:mctails2:momo
#FitType: func=PSIPSIPRIMECB2VWG2:range=2.5;4.7:histoType=minv:mctails2:momo
# ---  PP13TeV  ---
FitType: func=PSIPSIPRIMECB2VWG2:range=2.2;4.5:histoType=minv:alJPsi=0.974323:nlJPsi=7.36371:auJPsi=1.84248:nuJPsi=16.0656
FitType: func=PSIPSIPRIMECB2VWG2:range=2.5;4.7:histoType=minv:alJPsi=0.974323:nlJPsi=7.36371:auJPsi=1.84248:nuJPsi=16.0656

# --- EMBEDDING ---
#FitType: func=PSIPSIPRIMENA60NEWVWG2:range=2.2;4.5:histoType=minv:mctails
#FitType: func=PSIPSIPRIMENA60NEWVWG2:range=2.5;4.7:histoType=minv:mctails
# --- MCMOHAMAD ---
#FitType: func=PSIPSIPRIMENA60NEWVWG2:range=2.2;4.5:histoType=minv:mctails2:momo
#FitType: func=PSIPSIPRIMENA60NEWVWG2:range=2.5;4.7:histoType=minv:mctails2:momo

# --- EMBEDDING ---
#FitType: func=PSIPSIPRIMECB2POL2POL3:range=2.2;4.5:histoType=minv:mctails
#FitType: func=PSIPSIPRIMECB2POL2POL3:range=2.5;4.7:histoType=minv:mctails
# --- MCMOHAMAD ---
#FitType: func=PSIPSIPRIMECB2POL2POL3:range=2.2;4.5:histoType=minv:mctails2:momo
#FitType: func=PSIPSIPRIMECB2POL2POL3:range=2.5;4.7:histoType=minv:mctails2:momo
# ---  PP13TeV  ---
FitType: func=PSIPSIPRIMECB2POL2POL3:range=2.2;4.5:histoType=minv:alJPsi=0.974323:nlJPsi=7.36371:auJPsi=1.84248:nuJPsi=16.0656
FitType: func=PSIPSIPRIMECB2POL2POL3:range=2.5;4.7:histoType=minv:alJPsi=0.974323:nlJPsi=7.36371:auJPsi=1.84248:nuJPsi=16.0656

# --- EMBEDDING ---
#FitType: func=PSIPSIPRIMENA60NEWPOL2POL3:range=2.2;4.5:histoType=minv:mctails
#FitType: func=PSIPSIPRIMENA60NEWPOL2POL3:range=2.5;4.7:histoType=minv:mctails
# --- MCMOHAMAD ---
#FitType: func=PSIPSIPRIMENA60NEWPOL2POL3:range=2.2;4.5:histoType=minv:mctails2:momo
#FitType: func=PSIPSIPRIMENA60NEWPOL2POL3:range=2.5;4.7:histoType=minv:mctails2:momo

# mix functions

# --- EMBEDDING ---
#FitType: func=PSIPSIPRIMECB2POL2EXP:range=2.2;4.5:mix:histoType=minv:mctails
#FitType: func=PSIPSIPRIMECB2POL2EXP:range=2.5;4.7:mix:histoType=minv:mctails
# --- MCMOHAMAD ---
#FitType: func=PSIPSIPRIMECB2POL2EXP:range=2.2;4.5:mix:histoType=minv:mctails2:momo
#FitType: func=PSIPSIPRIMECB2POL2EXP:range=2.5;4.7:mix:histoType=minv:mctails2:momo
# ---  PP13TeV  ---
#FitType: func=PSIPSIPRIMECB2POL2EXP:range=2.2;4.5:histoType=minv:alJPsi=0.974323:nlJPsi=7.36371:auJPsi=1.84248:nuJPsi=16.0656:range=2.0;4.8:weight=4.0:mix
#FitType: func=PSIPSIPRIMECB2POL2EXP:range=2.5;4.7:histoType=minv:alJPsi=0.974323:nlJPsi=7.36371:auJPsi=1.84248:nuJPsi=16.0656:range=2.0;4.8:weight=4.0:mix

# --- EMBEDDING ---
#FitType: func=PSIPSIPRIMENA60NEWPOL2EXP:range=2.2;4.5:mix:histoType=minv:mctails
#FitType: func=PSIPSIPRIMENA60NEWPOL2EXP:range=2.5;4.7:mix:histoType=minv:mctails
# --- MCMOHAMAD ---
#FitType: func=PSIPSIPRIMENA60NEWPOL2EXP:range=2.2;4.5:mix:histoType=minv:mctails2:momo
#FitType: func=PSIPSIPRIMENA60NEWPOL2EXP:range=2.5;4.7:mix:histoType=minv:mctails2:momo

