#OCDBPATH: local:///cvmfs/alice-ocdb.cern.ch/calibration/data/2013/OCDB
OCDBPATH: raw://

EVENTSELECTION: PSALL real
EVENTSELECTION: ALL sim

COMPACTGRAPHS: yes

DimuonTrigger: CMUL7-B-NOPF-MUFAST
DimuonTrigger: ANY sim

MuonTrigger: CMSL7-B-NOPF-MUON


MinbiasTrigger: CINT7-B-NOPF-MUFAST

PairSelection: pALLPAIRYPAIRPTIN0.0-8.0RABSMATCHLOWETAPDCA real sim

Centrality: PP real sim

FitType: func=PSIPSIPRIMECB2VWG:rebin=2:histoType=minv:alJPsi=1.05349:nlJPsi=3.28651:auJPsi=2.14782:nuJPsi=2.71848
FitType: func=PSIPSIPRIMECB2VWG:rebin=2:histoType=minv:alJPsi=1.025:nlJPsi=4.36249:auJPsi=2.21830:nuJPsi=2.922

#FitType: func=PSIPSIPRIMECB2VWG:mctails:rebin=1:histoType=minv:range=2.0;5.0
#FitType: func=PSIPSIPRIMECB2VWG:mctails:rebin=1:histoType=minv:range=2.4;4.5

#FitType: func=PSIPSIPRIMECB2POL1POL2:mctails:rebin=2:histoType=minv:range=2.0;5.0
#FitType: func=PSIPSIPRIMECB2POL1POL2:mctails:rebin=2:histoType=minv:range=2.4;4.5

#FitType: func=PSIPSIPRIMECB2POL2POL3:mctails:rebin=1:histoType=minv:range=2.0;5.0
#FitType: func=PSIPSIPRIMECB2POL2POL3:mctails:rebin=1:histoType=minv:range=2.4;4.5

#FitType: func=PSIPSIPRIMENA60NEWVWG:mctails:rebin=1:histoType=minv:range=2.0;5.0
#FitType: func=PSIPSIPRIMENA60NEWVWG:mctails:rebin=1:histoType=minv:range=2.4;4.5
