
#OCDBPATH: local:///cvmfs/alice-ocdb.cern.ch/calibration/data/2013/OCDB
OCDBPATH: raw://

EVENTSELECTION: PSALL real
EVENTSELECTION: ALL sim

COMPACTGRAPHS: yes

DimuonTrigger: CMUL7-B-NOPF-MUFAST real
DimuonTrigger: ANY sim

#MuonTrigger: CMSL7-B-NOPF-MUON

#MinbiasTrigger: CINT7-B-NOPF-ALLNOTRD

PairSelection: pALLPAIRYPAIRPTIN0.0-8.0RABSMATCHLOWETAPDCA real

Centrality: V0A

FitType: func=PSIPSIPRIMECB2VWG:rebin=0:histoType=minv:alJPsi=1.05349:nlJPsi=3.28651:auJPsi=2.14782:nuJPsi=2.71848:range=2.0;4.7
#FitType: func=PSIPSIPRIMECB2VWG:mctails:rebin=0:histoType=minv:range=2.0;4.7
