
#OCDBPATH: local:///cvmfs/alice-ocdb.cern.ch/calibration/data/2013/OCDB
OCDBPATH: raw://

EVENTSELECTION: ALL real

COMPACTGRAPHS: yes

DimuonTrigger: CMUL7-B-NOPF-MUFAST

#MuonTrigger: CMSL7-B-NOPF-MUON

MinbiasTrigger: CINT7-B-NOPF-ALLNOTRD

PairSelection: pALLPAIRYPAIRPTIN0.0-10.0RABSMATCHLOWETAPDCA real

Centrality: V0M
#Centrality: V0A_00.00_10.00
#Centrality: V0A_10.00_20.00
#Centrality: V0A_20.00_30.00
#Centrality: V0A_30.00_40.00
#Centrality: V0A_40.00_50.00
#Centrality: V0A_50.00_60.00
#Centrality: V0A_60.00_70.00
#Centrality: V0A_70.00_80.00
#Centrality: V0A_80.00_90.00
#Centrality: V0A_90.00_100.00

FitType: func=PSIPSIPRIMECB2VWG:rebin=2:histoType=minv:alJPsi=1.05349:nlJPsi=3.28651:auJPsi=2.14782:nuJPsi=2.71848
